* {
    box-sizing: border-box;
    outline: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgb(85, 85, 85);
}

.title {
    color: rgb(230 230 230);
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 10px;
}

.cria-materia {
    display: flex;
    justify-content: center;
}

.input-nova-materia {
    width: 200px;
}

.materias {
    color: rgb(230 230 230);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    margin: 5px;
    width: 50px;
}

.foot {
    position: absolute;
    bottom: 0; 
    width: 100%;
    margin-top: 10px;

    background-image: url('/public/assets/svg/undraw_graduation_re_gthn.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    padding-top: 200px;
    padding-bottom: 200px;
}

